<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ss.rtc.demo.quickstart">

    <!--    MODIFY_AUDIO_SETTINGS、BLUETOOTH 权限对于音频的路由是必须的。没有BLUETOOTH权限会导致蓝牙耳机连接时，声音从外放播放而不是蓝牙耳机-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher_quick_start"
        android:label="@string/app_name"
        android:roundIcon="@drawable/launcher_quick_start"
        android:supportsRtl="true"
        android:theme="@style/Theme.MinimRTCDemo">
        <activity android:name="com.ss.video.rtc.demo.quickstart.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ss.video.rtc.demo.quickstart.RTCRoomActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
    </application>

</manifest>