{
	"dev_version" : "10.62.0",
	"editor_info" : {},
	"min_version" : "10.58.0",
	"systemList" : 
	[
		"BehaviorSystem",
		"CameraSystem",
		"EventSystem",
		"IFAnimSpriteSystem",
		"IFLayer2dSystem",
		"IFRootSystem",
		"MeshRendererSystem",
		"SDFTextSystem",
		"ScriptSystem",
		"TransformSystem"
	],
	"type" : "amazing",
	"version" : "0.1"
}