body {
  height: max-content;
  overflow: hidden;
}

#joinRoom {
  width: 100%;
  height: max-content;
  /* display: none; */
}

#joinRoom header {
  height: 154px;
  display: flex;
  align-items: center;
  background-image: url('/images/exampleBg.png');
  background-size: 100%;
}

#joinRoom header p {
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  letter-spacing: 0.003em;

  /* Text/强调正文标题 @color-text-1 */

  color: #020814;
  padding-left: 32px;
}

section {
  padding: 24px 32px;
}
.section-header {
  display: flex;
  align-items: center;
}

.section-header img {
  margin-right: 8px;
}

.section-header span {
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #000b1a;
}

.section-content {
  margin-top: 44px;
}

.preview-container {
  display: flex;
  margin-bottom: 24px;
}

.player-wrapper {
  width: 272px;
  height: 204px;
  background: #f6f8fa;
  border: 1px solid #eaedf1;
  border-radius: 8px;
  margin-right: 24px;
  position: relative;
}
#preview-player {
  width: 100%;
  height: 100%;
}
.op-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 20px;
  gap: 24px;

  position: absolute;
  width: 112px;
  height: 36px;
  bottom: 12px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 18px;
  left: 80px;
}

#mic-btn {
  margin-right: 24px;
}
#camera-btn {
}

.join-form ul li:not(:last-child) {
  margin-bottom: 21px;
}

.join-form ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 21px;
  position: relative;
}

.join-form ul li label {
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #41464f;
  width: max-content;
  margin-right: 20px;
}

.join-form ul li input {
  box-sizing: border-box;
  height: 32px;
  width: 320px;
  border: 1px solid #eaedf1;
  border-radius: 4px;
  outline: none;
  padding: 0 8px;
  color: #020814;
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.select-input {
  padding-right: 24px !important;
}

.select-input + img {
  position: absolute;
  right: 16px;
}

.join-form ul li input:active,
.join-form ul li input:focus {
  box-shadow: 0px 0px 0px 3px rgba(22, 100, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.05),
    0px 0px 0px 1px #1664ff;
  border: 1px solid #1664ff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* .select-input:focus ~ .dropdown-menu,
  .select-input:active ~ .dropdown-menu {
	display: block;
  } */

.dropdown-menu {
  padding: 4px 0;
  width: 238px;
  position: absolute;
  top: 34px;
  left: 70px;
  background: #ffffff;
  /* 中性色/线条/L1-E5E8EF-常规、白底 */
  border: 1px solid #e5e8ef;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  z-index: 10;
  display: none;
}

.device-item {
  height: 36px;
  line-height: 36px;
  padding: 0 12px;
  width: 238px;
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  box-sizing: border-box;
  display: block !important;
  margin-bottom: 0 !important;
}
.device-item:hover {
  background: #f2f3f8;
}

.error-tip {
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  color: red;
  position: absolute;
  top: 34px;
  right: 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 320px;
  min-width: max-content;
}

.join-btn {
  margin-left: 280px;
  width: 200px;
  height: 32px;
  background: #1664ff;
  /* shadow/组件/Button/蓝色 */
  color: #ffffff;
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px #a2c1ff;
  border-radius: 4px;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

#example {
  width: 100%;
  /* height: 100%; */
  display: none;
}

#example header {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  border-bottom: 1px solid #eaedf1;
}

.left h5 {
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 4px;
  margin-top: 0;
  height: 26px;

  /* Text/强调正文标题 @color-text-1 */

  color: #020814;
}

.info {
  display: flex;
}

.info-item {
  margin-right: 20px;
}

.info-item label {
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.003em;

  color: #80838a;
}

.info-value {
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;

  color: #41464f;
}
.right button {
  outline: none;
  width: 85px;
  height: 32px;

  /* Background/深 灰底 @color-bg-4 */

  background: #f6f8fa;
  /* shadow/Assembly/Button/Gray/default & disabled */
  border: none;
  box-shadow: 0px 0px 0px 1px #dde2e9, 0px 2px 1px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  margin-right: 12px;

  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  color: #41464f;
}

.setting-container {
  margin-bottom: 40px;
  padding: 20px 0 0 0;
}
.setting-item {
  margin-bottom: 26px;
  position: relative;
}

.setting-item .error-tip {
  left: 140px;
}
.label-text {
  width: 124px;
  display: inline-block;
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #41464f;
  margin-right: 12px;
  /* identical to box height, or 143% */

  /* Text/次强调正文标题 @color-text-2 */
}

#link {
  box-sizing: border-box;
  height: 32px;
  width: 470px;
  border: 1px solid #eaedf1;
  border-radius: 4px;
  outline: none;
  padding: 0 8px;
  color: #020814;
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

#link:active,
#link:focus {
  box-shadow: 0px 0px 0px 3px rgba(22, 100, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.05),
    0px 0px 0px 1px #1664ff;
  border: 1px solid #1664ff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.players-wrapper {
  background: #fafbfc;
  margin-top: 20px;
  border: 1px solid #eaedf1;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.room-player-wrapper {
  max-width: 440px;
  width: calc(50% - 10px);
  box-sizing: border-box;
  background: #f6f8fa;
  border: 2px solid #dde2e9;
  border-radius: 8px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  aspect-ratio: 4/3;
}
.room-player-wrapper.active {
  border: 2px solid #4281ff;
}

.room-player-wrapper .player,
.room-player-wrapper .player div:first-child {
  box-sizing: border-box;
  max-height: 100%;
  width: 100%;
}

.userinfo {
  position: absolute;
  margin: 0;
  bottom: 8px;
  left: 8px;
  height: 20px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 2px;
  z-index: 1;
  display: flex;
  align-items: center;
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #1d2129;
  padding: 2px 4px;
}

.userinfo img {
  width: 14px;
  height: 14px;
}

.userinfo img + span:after {
  content: '';
  height: 9px;
  width: 1px;
  display: inline-block;
  background: #1d2129;
  margin: 0 2px;
}

.user-avatar {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-avatar span {
  background: #4281ff;
  width: 64px;
  height: 64px;
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  /* identical to box height, or 133% */

  /* Fill/纯色填充 @color-bg-white */

  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

