{
  "app_params": {
    "detectFlags": "face_240_detect",
    "faceModelName": "perfect2",
    "facetips": 1,
    "innerfilter": true
  },
  "dev_version": "10.15",
  "min_version": "10.15",
  "systemList": [
    "AnimSeqSystem",
    "BehaviorSystem",
    "CameraSystem",
    "EventSystem",
    "IFAnimSpriteSystem",
    "IFLayer2dSystem",
    "IFRootSystem",
    "MeshRendererSystem",
    "ScriptSystem",
    "TransformSystem",
    "v2_animseq",
    "v2_ifcanvas2d",
    "v2_iflayer2d",
    "v2_ifsprite2d",
    "v2_iftransfrom2d",
    "v6_camera"
  ],
  "type": "amazing",
  "version": "0.1"
}