.lux-container iframe {
  height: 100%;
}

body {
  overflow: hidden;
}

h3 {
  padding: 0px;
  margin: 0px;
}
.header .title {
  text-align: center;
  margin: 10px 0px;
  position: relative;
}

.backbtn {
  background-color: transparent;
  position: absolute;
  left: 20px;
  top: -2px;
}

.header_content {
  position: relative;
  width: 100%;
}
.header_content img {
  min-width: 100%;
}

.wrapper {
  position: absolute;
  top: 80px;
  width: 100%;
  height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
}
.wrapper .text {
  padding-left: 20px;
  padding-right: 20px;
  height: 127px;
}
.wrapper .text_title {
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.003em;
  color: #020814;
}
.wrapper .text_content {
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: #41464f;
  margin-top: 8px;
}
.wrapper_content {
  flex: 1;
  padding: 20px;
  margin-top: 34px;
  border-radius: 5% 5% 0px 0px;
  background-color: #fff;
}

.join-form ul li:not(:last-child) {
  margin-bottom: 21px;
}

.join-form ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 21px;
  position: relative;
}

.join-form ul li label {
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #41464f;
  width: max-content;
  margin-right: 20px;
}

.join-form ul li input {
  box-sizing: border-box;
  height: 32px;
  width: 240px;
  border: 1px solid #eaedf1;
  border-radius: 4px;
  outline: none;
  padding: 0 8px;
  color: #020814;
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

input:-internal-autofill-selected {
  background-color: #fff !important;
}

.select-input {
  padding-right: 24px !important;
}

.select-input + img {
  position: absolute;
  left: 320px;
}

.join-form ul li input:active,
.join-form ul li input:focus {
  box-shadow: 0px 0px 0px 3px rgba(22, 100, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.05),
    0px 0px 0px 1px #1664ff;
  border: 1px solid #1664ff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.wrapper_footer {
  height: 90px;
  padding-bottom: 50px;
  width: 100%;
}

.join-btn {
  display: block;
  margin: auto;
  width: 80%;
  height: 40px;
  background: #1664ff;
  /* shadow/组件/Button/蓝色 */
  color: #ffffff;
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px #a2c1ff;
  border-radius: 4px;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}

.dropdown-menu {
  padding: 4px 0;
  width: 210px;
  position: absolute;
  top: 34px;
  right: 20px;
  background: #ffffff;
  border: 1px solid #e5e8ef;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  z-index: 10;
  display: none;
}

.device-item {
  height: 36px;
  line-height: 36px;
  padding: 0 12px;
  width: 240px;
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  box-sizing: border-box;
  display: block !important;
  margin-bottom: 0 !important;
}
.device-item:hover {
  background: #f2f3f8;
}

.error-tip-address {
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  display: flex;
  color: red;
  width: 240px;
  padding: 4px 0px 0px 2px;
}

.error-tip {
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  color: red;
  position: absolute;
  top: 34px;
  right: 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 240px;
}

#example {
  width: 100%;
  /* height: 100%; */
  display: none;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.selector {
  box-sizing: border-box;
  height: 32px;
  width: 230px;
  border: 1px solid #eaedf1;
  border-radius: 4px;
  outline: none;
  padding: 0 8px;
  color: #020814;
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.selector + img {
  position: absolute;
  right: 30px;
}

.selector:active,
.selector:focus {
  box-shadow: 0px 0px 0px 3px rgba(22, 100, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.05),
    0px 0px 0px 1px #1664ff;
  border: 1px solid #1664ff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}


.option-item {
  height: 36px;
  line-height: 36px;
  padding: 0 12px;
  width: 210px;
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  box-sizing: border-box;
  display: block !important;
  margin-bottom: 0 !important;
}
.option-item:hover {
  background: #f2f3f8;
}

.setting-container {
  margin-bottom: 40px;
  padding: 20px 0 0 0;
}
.setting-item {
  padding: 0 20px;
  margin-bottom: 26px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.setting-item .virtual-background {
  display: none;
}

.setting-item:not(:last-child) {
  margin-bottom: 20px;
}

.setting-item .error-tip {
  left: 140px;
}
.label-text {
  width: max-content;
  display: inline-block;
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #41464f;
  margin-right: 12px;
}

#link {
  box-sizing: border-box;
  height: 32px;
  width: 240px;
  border: 1px solid #eaedf1;
  border-radius: 4px;
  outline: none;
  padding: 0 8px;
  color: #020814;
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

#link:active,
#link:focus {
  box-shadow: 0px 0px 0px 3px rgba(22, 100, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.05),
    0px 0px 0px 1px #1664ff;
  border: 1px solid #1664ff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.players-container {
  background: #fafbfc;
  border: 1px solid #eaedf1;
  border-radius: 8px;
  padding: 16px;
}
.players-container .section-header {
  margin-bottom: 16px;
}

.players-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.room-player-wrapper {
  box-sizing: border-box;
  width: 100%;
  background: #f6f8fa;
  border: 2px solid #dde2e9;
  border-radius: 8px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  aspect-ratio: 1/1;
}
.room-player-wrapper.active {
  border: 2px solid #4281ff;
}

.room-player-wrapper .player,
.room-player-wrapper .player div:first-child {
  box-sizing: border-box;
  max-height: 100%;
}

.userinfo {
  position: absolute;
  margin: 0;
  bottom: 8px;
  left: 8px;
  height: 20px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 2px;
  z-index: 1;
  display: flex;
  align-items: center;
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #1d2129;
  padding: 2px 4px;
}

.userinfo img {
  width: 14px;
  height: 14px;
}

.userinfo img + span:after {
  content: '';
  height: 9px;
  width: 1px;
  display: inline-block;
  background: #1d2129;
  margin: 0 2px;
}

.user-avatar {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-avatar span {
  background: #4281ff;
  width: 64px;
  height: 64px;
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  /* identical to box height, or 133% */

  /* Fill/纯色填充 @color-bg-white */

  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

