* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.message-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  /* 元素永远不会成为鼠标事件的target */
  pointer-events: none;
}

.message-list {
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  list-style: none;
}

.message-item {
  display: flex;
  justify-content: center;
  padding: 8px;
}

.message-item div {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%),
    0 9px 28px 8px rgb(0 0 0 / 5%);
}

.message-item svg {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

/* loading旋转动画 */
.message-item .icon.loading {
  animation: loading 1s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.message-item div span {
  font-size: 12px;
  line-height: 20px;
}

.fade-in {
  animation: fadeIn 0.3s ease forwards;
}

/* 淡入动画 */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 淡出动画 */
.fade-out {
  animation: fadeOut 0.3s ease forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

