{
  "root": true,
  "plugins": [
    "prettier"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion":2021,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "destructuring": true,
      "spread": true
    }
  },
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "semi": "error",
    "quotes": [
      "error",
      "single",
      {
        "allowTemplateLiterals": true
      }
    ]
  },
  "globals":{
    "$":true,
    "VRTC":true
  }
}
