/**
 * Copyright 2024 Beijing Volcano Engine Technology Co., Ltd. All Rights Reserved.
 * SPDX-license-identifier: BSD-3-Clause
 */

.control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    bottom: 40px;
    color: #fff;
    width: 348px;
    height: 59px;
    background-color: #36393f;
    border-radius: 69px;
    padding: 0 24px;
}
.control-left {
    display: flex;
    position: relative;
    display: flex;
    flex: 2;
    justify-content: space-around;
}
.control-right {
    display: flex;
    flex: 1;
    margin-left: 10px;
    justify-content: space-between;
}
.control-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    user-select: none;
    border-radius: 50%;
    width: 28px;
}
.control-img {
    width: 24px;
    flex: 0 0 auto;
    vertical-align: middle;
}
.control-line {
    display: flex;
    margin-left: 10px;
    justify-content: space-between;
}
.control-line__line {
    width: 2px;
    height: 32px;
    background: #E5E5E5;
    margin-left: 20px;
}