/**
 * Copyright 2024 Beijing Volcano Engine Technology Co., Ltd. All Rights Reserved.
 * SPDX-license-identifier: BSD-3-Clause
 */

.player-name {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: #fff;
  z-index: 1;
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.player {
  width: 100vw;
  height: 90vh;
}
#player-list {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  gap: 8px;
  padding: 8px;

}

.remote-player {
  width: 100%;
  background: #000;

}
.player-wrapper {
  position: relative;
  width:  calc(50% - 12px);
  height: 100%;
  flex: 0 0 auto;
}
#local-player{
  background: #000;
}