<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ss.video.rtc.demo.meetingrtcdemo">

    <!--    MODIFY_AUDIO_SETTINGS、BLUETOOTH 权限对于音频的路由是必须的。没有BLUETOOTH权限会导致蓝牙耳机连接时，声音从外放播放而不是蓝牙耳机-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".core.MeetingApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".feature.verify.VerifyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.room.RoomActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:keepScreenOn="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.settings.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.participant.ParticipantActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.history.HistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".voicechat.MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".voicechat.ChatRoomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".voicechat.ChatRoomListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".voicechat.ProfileDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".voicechat.CreateChatRoomActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".common.MoiraeService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="mediaProjection"
            android:stopWithTask="true" />
    </application>

</manifest>