.header {
    padding: 0px 22px;
    height: 64px;
    background: #0a1e39;
    z-index: 1000;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header-img {
    display: block;
    height: 60%;
}
.header-logo {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
#header-version {
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    line-height: 64px;
    font-weight: bold;
    font-family: PingFang SC;
}